## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [10]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [1]:
import random
sample_list_1 =[]

sample_list_1 = random.sample(range(0,100), 80)
print(sample_list_1)

[2, 35, 98, 87, 54, 89, 44, 83, 27, 24, 71, 5, 3, 12, 36, 86, 55, 39, 11, 61, 51, 25, 32, 40, 73, 4, 15, 78, 76, 68, 17, 20, 94, 18, 97, 14, 70, 1, 52, 63, 6, 56, 81, 90, 34, 66, 49, 19, 79, 22, 58, 30, 48, 67, 43, 59, 92, 85, 37, 95, 69, 23, 41, 77, 91, 74, 13, 53, 62, 38, 29, 99, 16, 42, 72, 26, 50, 82, 96, 64]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [34]:
set1= set(sample_list_1)
print(set1)

{3, 4, 5, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [2]:
import random
sample_list_2 =[]
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
# Yes,the length is 80.

[7, 72, 79, 30, 67, 16, 62, 42, 46, 37, 21, 67, 1, 94, 66, 29, 91, 6, 83, 97, 48, 30, 14, 30, 100, 87, 39, 12, 82, 71, 27, 92, 79, 10, 54, 47, 85, 64, 49, 83, 18, 38, 25, 36, 36, 5, 12, 22, 16, 50, 23, 48, 62, 54, 80, 88, 91, 0, 61, 93, 65, 90, 56, 31, 17, 27, 78, 21, 19, 84, 55, 80, 68, 8, 28, 74, 18, 16, 31, 15]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [66]:
import random
set2 = set(sample_list_2)
print (set2)
len(set2)
# No, the length is not 80 now.

{2, 3, 4, 5, 6, 8, 12, 13, 14, 15, 17, 20, 22, 24, 26, 28, 29, 31, 32, 34, 35, 38, 40, 41, 43, 44, 45, 47, 48, 52, 53, 55, 58, 60, 61, 70, 71, 74, 75, 76, 77, 80, 81, 82, 83, 85, 87, 89, 90, 91, 92, 93, 98, 100}

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [65]:
list3 = []
for item in set1:
    if item not in set2:
        list3.append(item)
set3 = set(list3)
print(set3)
len(set3)

{9, 10, 11, 16, 18, 19, 21, 23, 25, 27, 30, 33, 36, 37, 42, 46, 50, 51, 54, 56, 59, 62, 63, 64, 65, 66, 67, 68, 69, 72, 73, 78, 84, 86, 88, 95, 96, 97, 99}

39

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [95]:
list4 = []
for item in set2:
    if item not in set1:
        list4.append(item)
set4 = set(list4)
print(set4)

{2, 100, 6, 71, 8, 76, 45, 60, 92, 20, 90, 28, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [68]:
list5 = []
for item in set1:
    if item  in set2:
        list5.append(item)
set5 = set(list5)
print(set5)

{3, 4, 5, 12, 13, 14, 15, 17, 22, 24, 26, 29, 31, 32, 34, 35, 38, 40, 41, 43, 44, 47, 48, 52, 53, 55, 58, 61, 70, 74, 75, 77, 80, 81, 82, 83, 85, 87, 89, 91, 98}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [56]:
# set1 ∩ set2 = set5
# set4 ∩ set5 = set2
# set3 ∩ set5 = set1
# set1 ∪ set2 = set3 + set4 + set5

{2,
 6,
 8,
 9,
 10,
 11,
 16,
 18,
 19,
 20,
 21,
 23,
 25,
 27,
 28,
 30,
 33,
 36,
 37,
 42,
 45,
 46,
 50,
 51,
 54,
 56,
 59,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 76,
 78,
 84,
 86,
 88,
 90,
 92,
 93,
 95,
 96,
 97,
 99,
 100}

#### Create an empty set called `set6`.

In [71]:
list6 = []
set6 = set(list6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [76]:
set6.update(set3)
set6.update(set5)
print(set6)

{3, 4, 5, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [78]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [84]:
set2.issubset(set1)

False

In [85]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [92]:
type(set5)

set

In [96]:
set1.union(set2) == set3.union(set4, set5)

True

#### Using the `pop` method, remove an element from `set1`.

In [98]:
set1.pop()

4

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [100]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{5, 10, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 95, 96, 97, 98}