# Pandas: grouping

In [2]:
import pandas as pd
import numpy as np

In [3]:
cars = pd.read_csv("data/vehicles.csv")

In [4]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [16]:
### your code is here
len(cars['Model'].value_counts())

3608

group by the data by the Make  using count function

In [21]:
### your code us here
cars.groupby('Make').count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [22]:
cars.groupby('Make')['Make'].count()

Make
AM General                        4
ASC Incorporated                  1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Make, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [58]:
# rename the name
cars = cars.rename(columns= {'CO2 Emission Grams/Mile':'CO2 Emission Grams/km'})
# group by
co2_mean = cars.groupby("Make")[["CO2 Emission Grams/km"]].mean()/1.60934

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [38]:
sort_value = co2_mean.sort_values('CO2 Emission Grams/km')
sort_value

                                    CO2 Emission Grams/km
Make
Fisker                                         105.011992
smart                                          153.498052
Fiat                                           189.311494
Daihatsu                                       192.742404
MINI                                           194.935105
...                                                   ...
Laforza Automobile Inc                         502.012683
Bugatti                                        542.497235
Superior Coaches Div E.p. Dutton               552.213951
S and S Coach Company  E.p. Dutton             552.213951
Vector                                         651.919248

[127 rows x 1 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [5]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [26]:
# 1. using pd.cut
group_year = pd.cut(cars['Year'],4) 
group_year

0        (1983.967, 1992.25]
1        (1983.967, 1992.25]
2        (1983.967, 1992.25]
3        (1983.967, 1992.25]
4        (1983.967, 1992.25]
                ...
35947      (2008.75, 2017.0]
35948      (2008.75, 2017.0]
35949      (2008.75, 2017.0]
35950      (2008.75, 2017.0]
35951      (2008.75, 2017.0]
Name: Year, Length: 35952, dtype: category
Categories (4, interval[float64, right]): [(1983.967, 1992.25] < (1992.25, 2000.5] < (2000.5, 2008.75] < (2008.75, 2017.0]]

In [51]:
# 2. using pd.qcut 
group_year1 = pd.qcut(cars['Year'],4) 
group_year1

0        (1983.999, 1991.0]
1        (1983.999, 1991.0]
2        (1983.999, 1991.0]
3        (1983.999, 1991.0]
4        (1983.999, 1991.0]
                ...
35947      (2010.0, 2017.0]
35948      (2010.0, 2017.0]
35949      (2010.0, 2017.0]
35950      (2010.0, 2017.0]
35951      (2010.0, 2017.0]
Name: Year, Length: 35952, dtype: category
Categories (4, interval[float64, right]): [(1983.999, 1991.0] < (1991.0, 2001.0] < (2001.0, 2010.0] < (2010.0, 2017.0]]

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [97]:
# rename and group the year
year_label = ['1980s','1990s','2000s','2001s']
cars['year range'] = pd.cut(cars['Year'],4, labels = year_label)

cars = cars.rename(columns= {'City MPG':'City_Km/Liter'})
city_km_per_liter_mean = cars.groupby("year range")[['City_Km/Liter']].mean()
city_km_per_liter_mean

            City_Km/Liter
year range
1980s           17.185032
1990s           16.985879
2000s           16.752420
2001s           19.292550

Which brands are more environment friendly?

In [100]:
co2_rank = cars.groupby(['year range','Make'])[["CO2 Emission Grams/km"]].mean().sort_values(['year range','CO2 Emission Grams/km','year range'])
co2_rank

                                        CO2 Emission Grams/km
year range Make
1980s      Daihatsu                                310.188060
           Geo                                     325.895386
           Suzuki                                  338.434308
           Honda                                   341.424787
           Saturn                                  352.770255
...                                                       ...
2001s      Vector                                         NaN
           Vixen Motor Company                            NaN
           Volga Associated Automobile                    NaN
           Wallace Environmental                          NaN
           Yugo                                           NaN

[508 rows x 1 columns]

Does the drivetrain affect fuel consumption?

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [91]:
# list the unique values in column 'Transmission' that starts with Auto 
Auto = [i for i in cars['Transmission'].unique().tolist() if i.startswith('Auto')]
Man = [i for i in cars['Transmission'].unique().tolist() if i.startswith('Man')]

# group the values into two categories 
cars ['Transmission'] = cars['Transmission'].apply(lambda x: 'Automatic' if x in Auto else 'Manual'if x in Man else x)

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [92]:
cars.groupby('Transmission').agg({'City_Km/Liter': 'mean','Transmission':'count'})

              City_Km/Liter  Transmission
Transmission
Automatic         17.119638         24290
Manual            18.742754         11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [94]:
cars.groupby('Transmission').agg({'City_Km/Liter': 'mean'})

              City_Km/Liter
Transmission
Automatic         17.119638
Manual            18.742754